@{
    ViewData["Title"] = "Home Page";
    Layout = "_CustomLayout";
}

<sectione class="main-page">

    @* Start title *@
    <div class="main-page_title mt-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h1>Casa della Pizza</h1>
                </div>
            </div>
        </div>
    </div>
    @* Fine title *@

    @* Start print pizze *@
    <div class="main-page pizza_viewer mt-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                </div>
            </div>
        </div>
    </div>
    @* Fine print pizze *@

</sectione>